<?xml version="1.0" encoding="UTF-8" ?>

<!-- Copyright (c) 2015, ItServicesDepot.com All rights reserved. 
	DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER. 
	
	Please contact ItServicesDepot.com or NghiaDo (dothanhtrongnghia@yahoo.com) 
	if you need	additional information or have any questions. 
-->

<!-- This file contains all Logging configuration for Field Catalog application -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" ERROR="false">
	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="ERROR" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} %p [%t]:%c{3}.%M()%L - %m%n" />
		</layout>
	</appender>

	<appender name="FileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="c:/temp/fieldcatalog.log" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{MM/dd/yyyy HH:mm:ss}  [%t]:%c{5}.%M()%L %m%n" />
		</layout>
	</appender>

	<logger name="org.hibernate">
		<level value="ERROR" />
		<appender-ref ref="ConsoleAppender" />
	</logger>

	<logger name="javax.faces">
		<level value="ERROR" />
		<appender-ref ref="ConsoleAppender" />
	</logger>

	<logger name="com.sun.faces">
		<level value="ERROR" />
		<appender-ref ref="ConsoleAppender" />
	</logger>

	<category name="log4j.logger.com.sun.faces">
		<priority value="ERROR" />
	</category>

	<logger name="org.dozer">
		<level value="ERROR" />
		<appender-ref ref="ConsoleAppender" />
	</logger>
	<root>
		<priority value="ERROR" />
		<appender-ref ref="ConsoleAppender" />
	</root>
</log4j:configuration>